@model FilmwebParser.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Kontakt";
}
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<h2>Kontakt</h2>
<form>
    <span asp-validation-summary="ModelOnly"></span>
    <label asp-for="Name">Nazwa użytkownika</label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <label asp-for="Email">E-mail</label>
    <input type="email" asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <label asp-for="Message">Wiadomość</label>
    <textarea cols="40" rows="4" asp-for="Message"></textarea>
    <span asp-validation-for="Message"></span>
    <div>
        <input type="submit" value="Wyślij wiadomość" />
    </div>
</form>