@{
    ViewBag.Title = "Pomoc";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Pomoc</h2>
        <ol start="1">
            <li>Korzystanie z aplikacji wymaga założenia darmowego konta.</li>
            <li>Po zalogowaniu użytkownik otrzyma dostęp do parsera filmów z bazy Filmweb oraz wgląd do historii parsowanych przez siebie filmów.</li>
            <li>Parsowanie polega na wklejeniu odnośnika do filmu przez użytkownika w odpowiednio oznaczone pole w aplikacji.</li>
            <li>Gdy proces ten zakończy się sukcesem, film zostanie dodany do bazy, a użytkownik będzie mógł wyświetlić jego szczegóły lub pobrać plik JSON, które je zawiera.</li>
            <li>Użytkownik na możliwość zmiany swojego avatara - w tym celu musi wkleić bezpośredni odnośnik do obrazka w odpowiednie pole (obsługiwane formaty to: JPG i PNG).</li>
            <li>W razie niepowodzenia wykonywania dowolnej operacji użytkownik otrzyma odpowiedni komunikat.</li>
        </ol>
    </div>
</div>
