@{
    ViewBag.Title = "Strona domowa";
}

<h1>Filmweb Parser</h1>
<p>Treść</p>
<form>
    <div>
        <label>Data</label>
        <input />
    </div>
    <div>
        <label>Tytuł</label>
        <input />
    </div>
    <div><input type="submit" value="Dodaj" /></div>
</form>
