@model IEnumerable<FilmwebParser.Models.Film>
@{
    ViewBag.Title = "Strona główna";
}

<div class="row">
    <div class="col-md-12">
        <h1>Witamy na stronie</h1>
        <p>Ta aplikacja pozwoli Ci sparsować każdy film z bazy Filmweb do formatu JSON</p>
        <a asp-controller="App" asp-action="films" class="btn btn-lg btn-success">Przejdź do parsera</a>
    </div>
</div>