@model IEnumerable<FilmwebParser.Models.Film>
@{
    ViewBag.Title = "Strona domowa";
}

<div class="row">
    <div class="col-md-6">
        <h1>Filmweb Parser</h1>
        <p>Treść</p>
        <form>
            <div class="form-group">
                <label>Data</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Tytuł</label>
                <input class="form-control" />
            </div>
            <div><input type="submit" value="Dodaj" class="btn btn-success" /></div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Podgląd</h2>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Name : @item.DateAdded.ToString("d")</li>
            }
        </ul>
    </div>
</div>