@model IEnumerable<FilmwebParser.Models.Film>
@{
    ViewBag.Title = "Strona główna";
}

<div class="row">
    <div class="col-md-12">
        <h2>Filmweb Parser</h2>
        <h4>Pierwszy w Polsce parser filmów z bazy Filmweb dostępny online i za darmo!</h4>
        <h4>Wklejasz link i otrzymujesz wszystkie dane dotyczące filmu!</h4>
        <a asp-controller="App" asp-action="films" class="btn btn-lg btn-success">Rozpocznij</a>
    </div>
</div>