<a href="#/" class="btn btn-sm btn-default"><i class="fa fa-angle-left"></i>Wstecz</a>
<h3>{{vm.title}}</h3>
<wait-cursor display-when="vm.isBusy"></wait-cursor>
<div class="alert alert-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
<table class="table table-responsive table-striped">
    <tr>
        <td>Tytuł</td>
        <td>{{vm.details.title}}</td>
    </tr>
    <tr>
        <td>Rok</td>
        <td>{{vm.details.year}}</td>
    </tr>
    <tr>
        <td>Okładka</td>
        <td>{{vm.details.cover}}</td>
    </tr>
    <tr>
        <td>Link</td>
        <td>{{vm.details.link}}</td>
    </tr>
</table>