<div>
    <div class="col-md-6">
        <h2>Tu wklej link</h2>
        <div class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
        <wait-cursor display-when="vm.isBusy"></wait-cursor>
        <form novalidate name="newFilmForm" ng-submit="vm.addFilm()">
            <div class="form-group">
                <input class="form-control" type="text" id="link" name="link" ng-model="vm.newFilm.link" required ng-pattern="/^(https?:\/\/)?(www.)?filmweb.pl\/.+$/" />
                <span ng-show="newFilmForm.link.$error.required" class="text-warning">Pole nie może pozostać puste</span>
                <span ng-show="newFilmForm.link.$error.pattern" class="text-warning">Nieprawidłowy link</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Rozpocznij przetwarzanie" class="btn btn-sm btn-success" ng-disabled="newFilmForm.$invalid" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Historia</h2>
        <table class="table table-responsive table-striped">
            <tr>
                <th>Tytuł:</th>
                <th>Data dodania:</th>
                <th></th>
            </tr>
            <tr ng-repeat="film in vm.films">
                <td>{{film.title}}</td>
                <td>{{film.dateAdded | date:'dd-MM-yyyy'}}</td>
                <td><a ng-href="#/details/{{film.title}}" class="btn btn-sm btn-primary">Szczegóły</a></td>
            </tr>
        </table>
    </div>
</div>